/* Styles for each individual property, as defined in config.json */

#address           { font-style: italic; }
#Title { font-weight: bold;
                     font-size: 20px;
                   }
#website { color: #336699; }
